* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-header {
    width: 100%;
    background-color: purple;
    text-align: center;
}
main {
    height: 500px;
}

h2 {
    font-size: 24px;
}

h4 {
    margin-left: 5px;
    font-size: 20px;
}
h5 {
    font-size: 16px;
    margin: 0;
}
#search-section {
    margin-left: 20px;
}
.search-container {
    height: 30%;
}
.history-bar {
    height: 70%;
    width: 100%;
}
#display-section {
    margin-right: 20px;
    margin-left: 20px;
    display: none;
}

#uvi {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: green;
}
#form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 50px;
}
#city-summary {
    height: 50%;
}
#input-field {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.btn {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: purple;
    border-radius: 4px;
    border-color: rebeccapurple;
}
.card {
    height: 100%;
    padding: 0px;
}

.card-body {
    padding: 5px;
    background-color: rebeccapurple;
}

.card-text {
    font-size: 10px;
    line-height: 21px;
    padding: 0px;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0px;
    font-size: 14px;
    line-height: 21px;
}
.summary-list li:first-child {
    margin-top: 10px;
}
.summary-list li {
    margin-bottom: 25px;
}

.history-bar button {
    width: 100%;
    margin: auto;
    background-color: royalblue;
}
